.lista-photos {
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  width: 60%;
  background-color: #6cb5b5;
}

.formulario-search {
  margin-left: 1rem;
  padding: 8px;
  background-color: white;
  height: 60px;
  width: 100%;

  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 2px 2px black;
  display: flex;
  justify-content: space-around;
}
