@media (min-width: 500px) {
  .listado-foto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
  }
}
