.fixed-header {
  position: fixed;
  width: 100%;
  background-color: #f0f0f0;
  height: 60px;
  top: 0;
  border: 1px solid black;
  box-shadow: 0 2px #aaa8a8;
}

.logo {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  position: absolute;
  left: 16px;
  top: 3px;
}

.flex-row-rigth {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 10px;
  margin-right: 10px;
}

.header_avatar {
  position: absolute;
  right: 10px;
  top: 3px;
  cursor: pointer;
}

.header_avatar_menu {
  position: absolute;
  right: 30px;
  top: 55px;
  background-color: rgb(41, 41, 41);
  padding: 1rem 1.5rem;
  border-radius: 5px;
  color: rgb(209, 209, 209);
  font-weight: 600;
  animation-name: fade_in;
  animation-duration: 0.25s;
  box-shadow: 2px 2px 10px var(--shadow-dark);
  cursor: pointer;
}

.header_avatar_menu a {
  color: lightgrey;
  margin-bottom: 1rem;
}

.h-header {
  height: 60px;
}

.enlaces-header {
  font-size: 0.9rem;
}

.registrate {
  margin-right: 2rem;
}

.inicia-sesion {
  margin-right: 1rem;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
