.header {
  width: 70%;
  position: fixed;
}

.h1-header {
  color: white;
  background-color: black;
  height: 30px;
}
.title-header {
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  width: 100%;
  background: black;
  font-size: 1.5rem;
}

.logo-header {
  height: 110px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #7eaaaa;
}
.logo {
  position: absolute;
  top: 45px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.header_avatar {
  position: absolute;
  right: 10px;

  width: 50px;
  height: 50px;
  margin-right: 2rem;
  border-radius: 50%;
  cursor: pointer;
}
.header_avatar_menu {
  position: absolute;
  right: 15px;
  top: 140px;
  background-color: rgb(41, 41, 41);
  padding: 1rem 1.5rem;
  border-radius: 5px;
  color: rgb(209, 209, 209);
  font-weight: 600;
  animation-name: fade_in;
  animation-duration: 0.25s;
  box-shadow: 2px 2px 10px var(--shadow-dark);
}

.header_avatar_menu::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 80%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.header_avatar_menu a {
  color: rgb(209, 209, 209);
  text-decoration: none;
  margin-bottom: 0.5rem;
  display: block;
}

.header_avatar_menu .menu_logout {
  cursor: pointer;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
