* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  white-space: normal;
  background-color: rgb(219, 199, 148);
  /* display: flex;
  justify-content: center; */
}
.contenedor-general {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background-color: #6cb5b5;
}
/* ----------------------------------------------------- */

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-usuario-login {
  background-color: #d8d2d2;
  padding: 0.6rem;
  font-size: 2rem;
  border: 1px solid black;
}

.iniciar-sesion,
.registrarse,
.seguir-anonimo {
  margin: 6rem;
  padding: 0.6rem;
  background-color: #d8d2d2;
  color: black;
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 20px;
  width: fit-content;
}
.imagenhome {
  margin-top: 4rem;
  padding-top: 2rem;
}
/* .homepage-imagen {
  display: flex;
  flex-direction: column;
  
  align-items: center;
} */

/* ---------------------------------------------------- */
.header_avatar {
  width: 40px;
  height: 40px;
  margin-right: 2rem;
  border-radius: 50%;
  border: 2px solid rgb(209, 209, 209);
  box-shadow: 2px 2px 10px rgb(41, 41, 41);
  cursor: pointer;
}

.header_avatar_menu {
  position: absolute;
  right: 2rem;
  top: 5rem;
  background-color: rgb(41, 41, 41);
  padding: 1rem 1.5rem;
  border-radius: 5px;
  color: rgb(209, 209, 209);
  font-weight: 600;
  animation-name: fade_in;
  animation-duration: 0.25s;
  box-shadow: 2px 2px 10px var(--shadow-dark);
}

.header_avatar_menu::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 80%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.header_avatar_menu a {
  color: rgb(209, 209, 209);
  text-decoration: none;
  margin-bottom: 0.5rem;
  display: block;
}

.header_avatar_menu .menu_logout {
  cursor: pointer;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.user_avatar {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ------------------------------------------------------------------- */

button {
  /* background: none; */
  font: inherit;
  outline: none;
  cursor: pointer;
  background-color: #d8d2d2;
  color: black;
  padding: 0.5rem 3rem;
  border: 2px solid black;
  border-radius: 15px;
  font-weight: bold;
  transition-duration: 0.4s;
}

button:hover {
  background-color: rgb(153, 153, 158);
  border: 2px solid black;
  color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav > a {
  text-decoration: none;
  color: inherit;
}

.cursorPointer {
  cursor: pointer;
}

fieldset {
  border: 1px solid var(--lgray);
  padding: 0 1rem;
}

select {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--dark);
  height: 30px;
  padding: 5px;
  width: 250px;
}

textarea {
  height: 6rem;
  width: 27.5rem;
  font-family: inherit;
  padding-top: 0.25rem;
  resize: none;
}

/* CONTAINER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* .page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .page-header nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.page-header ul {
  display: flex;
  order: 1;
  margin-top: 15px;
}

.page-header ul li:not(:last-child) {
  padding-right: 12px;
}

.page-header .cta-contact {
  font-family: inherit;
  font-size: 1.1rem;
}

.page-header .cta-contact.headerFlexRow {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.header-item li label {
  cursor: pointer;
} */

input:checked ~ span {
  color: var(--darkblue);
  text-decoration: underline;
}

.itemsCities:hover {
  background-color: var(--blue);
}

/* MAIN
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 350px;
  flex-grow: 1;
}

/* .opacity-container {
  transition: opacity 0.3s ease-in;
  opacity: 1;
}

.opacity-container.activated {
  opacity: 0.5;
}

.centered-container p + p {
  margin-top: 10px;
} */

.boxAccount {
  width: 50%;
  background-color: white;
  border: 2px solid var(--onegray);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxAccount > * {
  padding: 1rem 2.9rem;
}

/* HOME
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-main {
  display: flex;
  flex-direction: column;
  justify-content: top;
  flex-grow: 1;
  min-height: 350px;
  /*background: var(--blue) url("../img/image_home.jpg") no-repeat center / cover;*/
  background-blend-mode: luminosity;
  color: white;
  padding-left: 10px;
  /* padding-top: var(--space-lg); */
}

.page-main div {
  max-width: 500px;
  margin-top: var(--space-lg);
}

.page-main h1 {
  margin-bottom: 20px;
}

.page-main p + p {
  margin-top: 10px;
}

.enterBold {
  font-weight: bold;
  cursor: pointer;
}

.centered-container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 310px;
  flex-grow: 1;
  flex-wrap: wrap;
}

.centeredComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centeredComponentRate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerGrid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.allWidth {
  min-width: 90vw;
}

.minWidth {
  min-width: 90vw;
}

.searchComponent {
  position: relative;
  display: grid;
  justify-items: center;
  padding-bottom: var(--space-lg);
  row-gap: 0.25rem;
  grid-template-columns: 325px;
  grid-template-rows: 12rem 5rem 1.5rem 3.5rem 2rem;
  grid-template-areas:
    "imageHome"
    "searchCompany"
    "errorMessageCompany"
    "buttonSearch"
    "advancedSearch";
}

.searchCompany {
  grid-area: searchCompany;
  /* background-image: url("../img/search.png"); */
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: 0.5rem center;
  padding-left: 2.5rem;
}

.buttonSearch {
  grid-area: buttonSearch;
  align-self: center;
}

.advancedSearch {
  grid-area: advancedSearch;
  font-weight: bold;
  color: var(--blue);
}

.advancedSearch:hover {
  color: var(--darkblue);
}

.errorMessageCompany {
  font-size: 0.8rem;
  color: var(--ko);
  grid-area: errorMessageCompany;
}

.imageHome {
  grid-area: imageHome;
  width: 15rem;
  align-self: center;
}

.summaryCompany {
  display: grid;
  grid-template-columns: 9rem 11rem;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  padding: 1rem;
}

.borderGrey {
  border: 2px solid var(--onegray);
  border-radius: 5px;
}

.item1 {
  grid-row: span 2;
  padding-left: 0.25rem;
  height: 6rem;
  width: 6rem;
  object-fit: contain;
}

.item2 {
  grid-column: 2;
  grid-row: span 2;
  font-size: var(--font-m);
}

.item3 {
  grid-column: span 2;
  color: var(--fourgray);
  font-size: var(--font-sm);
  padding-left: 0.5rem;
}

.item4 {
  grid-column: 2;
  padding-left: 0.75rem;
  color: var(--fourgray);
  font-size: var(--font-sm);
}

.item5 {
  grid-column: 2;
  padding-left: 0.25rem;
  color: var(--fourgray);
  font-size: var(--font-sm);
}

/* ADVANCED SEARCH
–––––––––––––––––––––––––––––––––––––––––––––––––– */

span.flexRow {
  display: flex;
  flex-direction: column;
}

#sectorId,
#positionId,
#cityId,
#sortTipe {
  font-family: inherit;
}

button.advSearch {
  margin-left: 1rem;
  margin-top: 1.2rem;
}

.buttonSort {
  padding: 0.2rem 1rem;
  border-radius: 0;
  font-weight: 300;
  transition-duration: 0.4s;
}

.buttonSortLeft {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.buttonSortRight {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.buttonBorderRight {
  border-right: 0.5px solid var(--darkblue);
}

/* COMPANY
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.companyDetail {
  display: grid;
  grid-gap: 0.25rem;
  grid-template-columns: 1fr;
  grid-template-areas:
    "companyTitle"
    "asideCompany"
    "ratingCompany";
}

.companyTitle {
  grid-area: companyTitle;
  display: flex;
  align-items: center;
}

.asideCompany {
  grid-area: asideCompany;
  margin-top: var(--space-md);
}

.ratingCompany {
  grid-area: ratingCompany;
}

.ratingCompanyForm {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xl);
}

.companyTitle img {
  height: 6rem;
  width: 6rem;
  object-fit: contain;
}

button.searchFilter {
  margin-left: 1rem;
  margin-top: 1.2rem;
}

.diagramWidth {
  width: 330px;
}

textarea.descriptionCompany {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  height: 10rem;
  width: 27.5rem;
  resize: none;
}

/* LIST REVIEWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.reporting {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
}

/* COMPANY CREATE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.boxAccountCompany {
  border: 2px solid var(--onegray);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img.companyLogo {
  height: 8rem;
  width: 8rem;
  object-fit: contain;
}

/* REVIEW CREATE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.boxAccountReview {
  border: 2px solid var(--onegray);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

fieldset.reviewCreate {
  border: 0;
  padding: 0;
}

/* USER UPDATE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.linkedIn {
  min-width: 22rem;
}

/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (min-width: 928px) {
  html {
    font-size: 16px;
  }

  /* HEADER */
  .page-header {
    position: fixed;
    width: 100%;
    z-index: 100;
    opacity: 0.98;
  }

  main {
    padding-top: 100px;
  }

  .page-header ul {
    width: auto;
    margin-top: 0;
  }

  .page-header .cta-contact {
    order: 1;
  }

  .page-header .cta-contact.headerFlexRow {
    width: 22rem;
    justify-content: flex-end;
    padding-right: 12px;
  }

  .page-header ul li:last-child {
    padding-right: 12px;
  }

  .page-header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  /* FOOTER */

  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer ul {
    margin-bottom: 0;
  }

  .containerGrid {
    margin-top: var(--space-sm);
  }

  /* HOME */

  /* .page-main {
    padding-left: 10px;
    padding-top: 0;
    margin-top: var(--space-lg);
  } */

  .page-main {
    padding-left: 90px;
  }

  .searchComponent {
    margin-top: var(--space-xl);
    margin-left: 5rem;
    display: grid;
    column-gap: 0.25rem;
    row-gap: 0.25rem;
    grid-template-columns: 20rem 12rem 20rem;
    grid-template-rows: 7rem 5rem 1.5rem;
  }

  .containerGrid {
    margin-top: var(--space-sm);
  }

  .containerGrid li {
    margin-right: var(--space-md);
  }

  .searchCompany {
    grid-column: 1;
    grid-row: 2;
    width: 19rem;
  }

  .buttonSearch {
    grid-column: 2;
    grid-row: 2;
  }

  .errorMessageCompany {
    font-size: 0.8rem;
    color: var(--ko);
    grid-column: 1;
    grid-row: 3;
  }

  .advancedSearch {
    grid-column: 2;
    grid-row: 3;
    align-self: start;
    justify-self: center;
  }

  .imageHome {
    grid-column: 3;
    grid-row: span 3;
    width: 18rem;
    justify-self: center;
    align-self: end;
  }

  .centeredComponentRate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: var(--space-xl);
  }

  .minWidth {
    min-width: 80vw;
  }

  /* COMPANY */

  .companyDetail {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 2fr 30rem;
    grid-template-areas:
      "companyTitle   companyTitle"
      "ratingCompany  asideCompany"
      "ratingCompany  none";
  }

  .ratingCompanyForm {
    margin-top: 0;
    margin-bottom: var(--space-xl);
  }

  .asideCompany {
    border-left: 2px solid var(--onegray);
    padding-left: var(--space-md);
  }

  span.flexRow {
    display: flex;
    flex-direction: row;
  }

  button.searchFilter {
    margin-left: 6rem;
    margin-top: 0rem;
  }

  .diagramWidth {
    width: 480px;
  }

  /* ADVANCED SEARCH*/

  .sortAndButton {
    display: inline-block;
  }

  button.advSearch {
    margin-left: 6.5rem;
    margin-top: 0rem;
  }

  textarea {
    height: 6rem;
    width: 33.5rem;
    border: none;
    font-family: inherit;
    padding-top: 0.25rem;
    resize: none;
  }

  textarea.descriptionCompany {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    height: 10rem;
    width: 30rem;
    resize: none;
  }

  .m-t-Rating {
    margin-top: var(--space-xl);
  }

  /* USER UPDATE */

  .linkedIn {
    min-width: 30rem;
  }

  /* REVIEW CREATE */

  .errorMessageTextArea {
    position: absolute;
    top: 125px;
    font-size: 0.8rem;
    color: var(--ko);
  }
}
