.lista-photo-tarjeta {
  width: 80%;
  background-color: #c96421;
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 10px;
  /* box-shadow: 4px 4px rgb(88, 112, 102); */
  color: #2e2e2e;
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
}
.lista-photo {
  width: 60%;
}
.lista-datos {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.lista-avatar-usuario {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.lista-lugar-fecha {
  display: flex;
  justify-content: space-around;
}

.lista-likes-comentarios {
  display: flex;
  justify-content: space-around;
}
