.tarjetaFoto {
  margin: 1rem 0.5rem;
  padding: 1rem 0.5rem;
  border: 2px solid rgb(146, 142, 142);
  border-radius: 10px 0 10px 0;
  background-color: #dcd0c0;
  box-shadow: 2px 2px 2px 2px #af8e63, 4px 4px 4px 4px #554e44;
}
.text-small {
  font-size: 0.8rem;
}
.margin-top-bottom {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
.margin-top-bottom-small {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.margin-botton {
  margin-bottom: 0.6rem;
}
.blanco {
  background-color: white;
}
.fotoTarjeta {
  border: 12px solid #c0b283;
  height: 400px;
  width: 300px;
  object-fit: cover;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.borde-tarjeta {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.text1rem {
  font-size: 1rem;
}
.datos1 {
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.datos1 span {
  margin-left: 0.5rem;
}
.datos2 {
  display: flex;
  align-items: center;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.datos2 span {
  margin-left: 0.5rem;
}

.datos3 {
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
}

.datos31,
.datos32 {
  margin-left: 0.5rem;
}

.datos311 {
  margin-right: 0.5rem;
}
.datos321 {
  margin-right: 0.5rem;
}
.flex-arriba {
  padding-top: 3px;
  display: flex;
  align-items: center;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.flex-arriba :nth-child(1) {
  margin-right: 0.5rem;
}
article img.user_avatar {
  width: 30px;
  height: 30px;
}

.flex-row-like-comment {
  display: flex;
  column-gap: 10px;
}

.spam-width {
  display: inline-block;
  width: 150px;
}

.lista-likes-comentarios {
  display: flex;
  justify-content: space-around;
  column-gap: 10px;
}
