.photoPreview-size {
  width: 250px;
}
.agrega-files {
  display: flex;
  justify-content: center;
}
.icono-files {
  margin-left: 1rem;
}
.flex-preview {
  display: flex;
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}
.pre-top {
  margin-bottom: 2rem;
}
