.imagenhome {
  width: 90%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.homepage-h1 {
  width: 65%;
}
.homepage-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homepage-flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vhMax {
  height: 100vh;
}

@media (min-width: 820px) {
  .homepage::-webkit-scrollbar {
    display: none;
  }
  .homepage {
    max-height: 100%;
  }
  .homepage-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .imagenhome {
    width: 30%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .homepage-h1 {
    width: 100%;
  }
  .homepage-flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .homepage-margin {
    margin: 3rem;
  }
  .texthomepage {
    font-size: 1.5em;
  }
}
